/.idea/*
node_modules
dist
src/example-apps/app-cloudflare-worker/node_modules
*/**/dist
*/**/node_modules
*/**/.wrangler
.DS_Store
*/**/.DS_Store
src/example-apps/app-cloudflare-worker/*/**/*.js
src/packages/test-shared/browser/bun/
/src/packages/h22p/test/resources/hamburger-out.png
